###############################################################################
# ⛔  Don't commit generated or binary artefacts
###############################################################################
# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
# Virtual environments
.venv/
env/
venv/
# Notebooks & checkpoints
.ipynb_checkpoints/

# Model artefacts
*.onnx
*.pt
*.pth
*.ckpt

# Images / media produced during tests
*.jpg
*.jpeg
*.png
*.gif
*.mp4
*.mov

# CDK synth output
cdk.out/

# IDEs / editors
.vscode/
.idea/
*.code-workspace

# OS junk
.DS_Store
Thumbs.db

yolov8nx.pt
!projects/drone-vision/model/
!projects/drone-vision/model/*.pt
!projects/drone-vision/model/*.onnx
!projects/drone-vision/model/*.yml
